@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&family=Poppins:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    font-family: Quicksand;
    margin: 0;
    font-weight: 600;
}

main {
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

header {
    color: #5a5a5a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 3.5rem;
    font-weight: 700;
}

#playersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

}

#playersContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 180px;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f3f3f3;
    color: rgb(83, 83, 83);
}

#gameboard {
    background-color: white;
    border: none;
    width: 35vw;
    height: 35vw;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat( 3, 1fr);
    margin: 0 auto;
}

.space {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background-color: #f5f5f5;
    color: rgb(105, 105, 105);
    border-radius: 15px;
    margin: 5px;
    padding-bottom: 1rem;
    transition: all 0.15s ease-in-out;
}

.space:hover {
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1); 
    background-color: #e7e7e7;
    transform: scale(1.05);
}

#gameEndContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.329)
}

#gameEnd {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}